.git
.github
.idea
.vscode
*.md
.env
.env.*
!.env.example
node_modules
vendor
writable/cache/*
writable/logs/*
writable/session/*
writable/debugbar/*
writable/uploads/*
!writable/**/index.html
tests
phpunit.xml.dist
.php-cs-fixer.*
.phpunit.result.cache
coverage
*.log
